.root {
    display: flex;
    flex-direction: column;
    outline: none;
    width: 99%;
}

.button {
    padding-top: 1.2rem;
    display: block;
    outline: none;
    cursor: pointer;
    border: 1px solid;
    border-radius: 0.2rem;
    background-color: rgba(57, 162, 219, 1);
    color: white;
    text-align: left;
    transition: all 0.2s;
    &::after {
        content: "\25be";
        float: right;
        transform: scale(1.5);
    }
}

.buttonAfter {
    background-color: rgba(69, 88, 97, 0.7);
    &::after {
        content: "\25b4";
    }
}

.content {
    width: 100%;
    display: none;
    transition: all 0.5s linear;
    -o-transition: all 1s linear;
    height: 0;
}

.contentAfter {
    display: flex;
    height: min-content;
    flex-direction: column;
    align-items: flex-end;
}

.infoSection {
    display: grid;
    grid-template-columns: [index] minmax(60px, 1fr) [first] minmax(60px, 1fr) [second] minmax(60px, 1fr) [last] minmax(60px, 0.5fr);
    grid-gap: 1.1rem;
}

.span {
    font-size: 1rem;
    padding: 0 0.2rem;
}

.spanIcon{
    padding-right: 1px;
    padding: 0 0.2rem;
}

.requirement {
    font-size: 1rem;
    padding: 0 0.2rem;
}
