.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
}
.collapsibleWrapper {
    width: 70%;
    margin-top: 1rem;
}

.studentInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
    float: left;
    margin-right: auto;
    margin-left: 15%;
}

.h1{
    padding: 0.5rem;
    margin: 0;
    display: block;
    outline: none;
    border: 0.5px solid;
    border-radius: 0.2rem;
    font-size: 1rem;
    background-color: #E8F0F2;
    margin: 0.1rem 0;
}