.root {
    display: inline-block;
    background-color: white;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.h1 {
    padding-left: 3rem;
}

.collapsibleWrapper {
    width: 50%;
}
